[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-countries = "*"
django-filter = "*"
psycopg2 = "*"
redis = "*"
pytest-django = "*"
pytest-factoryboy = "*"
faker = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pyjwt = "==1.7.1"
drf-yasg = "*"

celery = "*"
typing-extensions = "*"

pytest-mock = "*"


[dev-packages]

[requires]
python_version = "3.11"
